<div class="wrapper">
    <div class="page">
        <div id="board_name">{{title}}</div>

        <!--Отрисовка листов-->
        <div class="list" *ngFor="let list of lists">
            <p>
                <list-name [list]="list" [boardId]="boardId" (deleteList)="delete_list($event)"></list-name>
            </p>
        </div>

        <!--Форма для создания нового листа-->
        <div class="form" #createList (click)="new_list_form()" [style.display]="visibility==false?'inline-block':'none'">Add a list...</div>
        <div id="create_list" #createListForm [style.display]="visibility==true?'inline-block':'none'">
            <input id="new_list_name" [(ngModel)]="new_list_name" placeholder="Add a list..." (keydown)="NewListOnEnter($event)">
            <button id="new_list_create_btn" (click)="add_new_list()">Add</button>
        </div>
    </div>
</div>