.wrapper {
    padding: 12px 0 0 16px;
    color: #595959;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    position: relative;
    top: 5px;
    left: 15px;
    -webkit-margin-after: 6px;
}
.clear {
    display: block;
    clear: both;
    width: 1900px;
    height: 1px;
}

#person {
    background-image: url('../img/person.png');
    position: relative;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 7px;
    background-size: 17px;
    border-radius: 3px;
    top: 25px;
    left: -1px;
}

#new_board {
    width: 270px;
    height: 56px;
    border-radius: 3px;
    font-size: 14px;
    background: #E2E4E6;
    margin: 10px 16px 0 0;
    text-align: center;
    padding-top: 40px;
    color: #8c8c8c;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#new_board:hover {
    background: #d9d9d9;
}
#new_board_vis {
    width: 270px;
    height: 56px;
    border-radius: 3px;
    font-size: 14px;
    background: #E2E4E6;
    margin: 10px 10px 0 0;
    text-align: center;
    padding-top: 40px;
    color: #8c8c8c;
}

a {
    text-decoration: none;
}

#enter_name {
    position: relative;
    top: -27px;
    left: 35px;
    box-shadow: 1px 1px 0px #efefef;
    border-radius: 5px;
	background: #fafaf5;
    padding-left: 2px
}
#enter_name:focus {
	box-shadow: 0px 0px 7px #007eff;
    outline: none;
    background:linear-gradient(white, #E9E9E9);
}

#create {
    width: 70px;
    height: 30px;
    position: relative;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    top: 12px;
    right: 92px;
    outline: none;
    border: 1px solid #4a9201;
    background: linear-gradient(#5eba02, #69cf02, #5eba02);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    border-radius: 5px;
    box-shadow:
        0 1px rgba(255,255,255,.2) inset,
        0 2px 4px rgba(0,1,6,.5),
        0 0 1px 1px rgba(0,1,6,.2);
}
#create:hover {
    background: linear-gradient(#69cf02, #5eba02, #69cf02);
}
#create:active{
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}