<div class="wrapper">

    <div id="person"></div>
    <h3>
        {{title}}
    </h3>

    <div class="clear"></div>
    <!--Граница между текстом и досками-->

    <div *ngFor="let board of boards_array">
        <board-entry [board]="board" (confirmChanges)="boardName_change($event)"></board-entry>
    </div>
    <!--Блок, при нажатии на который появляется форма ввода-->
    <div id="new_board" [style.display]="visibility_newBoard==true?'block':'none'" (click)="new_board()" #newBoard>{{newBoardTitle}}</div>

    <!--Форма ввода названия для создания новой доски-->
    <div id="new_board_vis" [style.display]="visibility_newForm==true?'block':'none'" #newForm>
        <input type="text" placeholder="Enter board name" id="enter_name" #entername (keydown)="NewBoardOnEnter($event, entername.value)">
        <button id="create" (click)="create_board(entername.value)" (click)="old_board()">Create</button>
    </div>

</div>
<router-outlet></router-outlet>